<div class = "container">
<header>
    <h1>InstaPix</h1>
</header>   
  <div id="intro">
    <h2>Ahoy!</h2>
    <p>Sign up for an account to start posting and viewing pictures</p>
  </div>
  <div class="sign_up_form">
    <div id="sign_up_inputs">
      <%= render  'users/signup_form'%>
     </div>
  </div>

  <div class="sign_in_form">
      <%= render 'users/signin_form' %>
      <p><%= notice %></p>
  </div>
</div>